body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
#chat_widnow {
    width: 200px;
    border: solid 1px #6c0e4a;
    bottom: 0;
    right: 0;
    position: fixed;
    overflow-x: hidden;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.7) !important;
}

#chat_title_bar {
    background: #FEFEFE;
    height: 25px;
    width: 100%;
}

#chat_min_button {
    width: 25px;
    height: 23px;
    float: right;
    cursor: pointer;
}

#chat_box {
    height: 250px;
    background: #DFDFDF;
}
    /*Chat End*/




    #chat_box .bg-success {
        display: block;
        padding: 8px 15px;
        cursor: pointer;
        text-decoration: none;
    }

    #chat_box .bg-info {
        display: block;
        padding: 8px 15px;
        cursor: pointer;
        text-decoration: none;
    }

.ui-chatbox .ui-widget-header {
    color: #222222;
    font-weight: 400;
}

.ui-chatbox-input {
    border: 0 !important;
}

.ui-chatbox-input-box {
    width: 189px !important;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
